@import url('https://fonts.googleapis.com/css2?family=Anton+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&family=Sofadi+One&display=swap');

.videosClassNine {
    display: flex;
    padding: 15px;
    padding-left: 25px;
    margin-top: 1cm;
    color: white;
    justify-content: space-between;
}

.ClassNineVideos {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
}

.ClassNine {
    background-color: #ffffff1a;
    padding: 15px;
    user-select: none;
    border-radius: 10px;
    backdrop-filter: blur(50px);
    border: 2px solid #ffffff33;
    width: 22%;
    text-wrap: wrap;
}

.ClassNine:hover {
    box-shadow: #04eaeaf6 0px 54px 55px, #04eaeaf6 0px -12px 30px, #04eaeaf6 0px 4px 6px, #04eaeaf6 0px 12px 13px, #04eaea5b 0px -3px 5px;
}

.imgSrc {
    width: 100%;
}

.button {
    cursor: pointer;
    border-radius: 5px;
    padding: 10px;
    font-family: "Anton SC", sans-serif;
    font-size: 18px;
}

.button:hover {
    background-color: #bde0fe;
}

.videoName {
    font-family: 'Rubik';
}

.subjectClass {
    display: flex;
    font-family: "Chakra Petch", sans-serif;
    justify-content: space-between;
}

.ChannelName {
    font-family: "Chakra Petch", sans-serif;
}

/* ------------------------Responsive------------------------------ */

@media (max-width: 1030px) {
    body {
        overflow-x: hidden;
    }
}

@media (max-width: 701px) {
    .ClassNineVideos {
        flex-direction: column;
        gap: 0.5cm;
    }

    .ClassNine {
        width: 80%;
        margin: auto;
    }
}
