@import url('https://fonts.googleapis.com/css2?family=Anton+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=SUSE:wght@100..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton+SC&family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

.Block {
    background-color: black;
}

.contaner {
    display: flex;
    padding: 10px;
    user-select: none;
}

.filterOption {
    width: 25%;
    display: flex;
    flex-direction: column;
    padding: 15px;
}

.filter_subject {
    padding: 5px;
    font-size: 25px;
    outline: none;
    border-radius: 5px;
    background-color: transparent;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.videosbyfilter {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    padding: 15px;
    justify-content: space-around;
}

.ClassNineee {
    display: flex;
    background-color: purple;
    flex-direction: column;
    width: 8cm;
    height: fit-content;
    padding: 15px;
    margin-top: .3cm;
}

.ClassNineee:hover {
    box-shadow: #ef07ef 0px 54px 55px, #ef07ef 0px -12px 30px, #ef07ef 0px 4px 6px, #ef07ef 0px 12px 13px, #ef07ef 0px -3px 5px;
}

.imgSrcc {
    width: 100%;
}

.h {
    text-wrap: wrap;
}

.videoNameee {
    font-family: "Anton SC", sans-serif;
}

.subjectClasse {
    display: flex;
    font-family: "Chakra Petch", sans-serif;
    justify-content: space-between;
}

.ChannelNameee {
    font-family: "Chakra Petch", sans-serif;
}

.selected {
    background-color: green;
}

@media (max-width: 930px) {
    .ClassNineee {
        width: 100%;
    }
}

@media (max-width: 600px) {
    .contaner {
        flex-direction: column;
    }

    .filterOption {
        width: 90%;
        display: flex;
        flex-direction: row;
    }
}
