@import url('https://fonts.googleapis.com/css2?family=Lemon&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

.container {
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    background: linear-gradient(120deg, orange, #daad59, #a97006, #422b01);
    font-family: 'Lemon';
}

.logo {
    height: 2cm;
    width: 2cm;
    position: absolute;
    top: 2cm;
    left: 2cm;
}

.box1 {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.box {
    display: flex;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.iim {
    width: 8cm;
    height: 9cm;
    position: relative;
    top: 3cm;
    left: 3cm;
}

.box2 {
    background-color: white;
    border-radius: 15px;
    padding: 50px;
}

.box2 h1 {
    text-align: center;
}

.Name {
    display: flex;
}

.labell {
    margin: 0;
    color: black;
}

.inputt {
    height: 1cm;
    width: 80%;
    border-radius: 5px;
    padding: 2px;
    padding-left: 0.4cm;
    border: 2px solid black;
    margin-top: 6px;
    outline: 0;
    background-color: transparent;
    color: black;
    font-family: 'Chakra Petch';
    font-size: 1.3rem;
}

#pn {
    width: 90%;
}

.signin {
    width: 20%;
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: 1cm;
    background-color: orange;
    border: 2px solid orange;
}

.signin:hover {
    background-color: #a97006;
    border: 2px solid #a97006;
}

.form {
    margin: 0;
    display: flex;
    flex-direction: column;
    padding: 0.8cm;
    width: 14cm;
}

.alre {
    text-align: center;
    font-size: 1.5rem;
}

.log {
    color: orange;
}

.log:hover {
    color: #a97006;
}

.errr {
    border: 2px solid red;
}

p {
    color: red;
    font-family: 'Ubuntu';
}
