@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto+Slab:wght@100..900&display=swap');

.mainProfilePage {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.top {
    display: flex;
    background-color: #FBFBFB;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.adminProfile {
    display: flex;
    min-width: 100vh;
    min-height: 100vh;
    overflow: hidden;
}

.left {
    width: 25%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 5px;
    background-color: white;
}

.logo {
    width: 2cm;
    height: 2cm;
}

.left1 {
    display: flex;
    margin-top: 20px;
    padding: 15px;
    font-family: "Roboto Condensed";
    font-size: 1.2rem;
    cursor: pointer;
    color: black;
    align-items: center;
}

.icon {
    font-size: 1rem;
}

.ttt {
    margin-left: 15px;
}

.left2 {
    text-decoration: none;

    &:hover {
        color: #0082e6;
    }
}

.left3 {
    border-radius: 10px;
    background-color: #0082e6;
    color: white;
    text-decoration: none;
}

.selectedOne {
    color: #0082e6;
    background-color: #0082e658;
    border-right: 10px solid #0082e6;
}

.aright {
    font-size: 2rem;
    font-family: 'Roboto Condensed';
}

.bright {
    font-size: 2rem;
    font-family: 'Roboto Condensed';
}

.righta {
    display: flex;
}

.update {
    background-color: #0082e6;
    border-radius: 10px;
    padding: 15px;
    margin-left: 5px;
    color: white;
    cursor: pointer;
    font-family: 'Roboto Condensed';

    &:hover {
        background-color: white;
        color: black;
    }
}